/* Réinitialisation des marges globales */
html {
    margin: 0;
}

/* Définition de l'apparence du body */
body {
    background-color: #639cbd; /* Couleur de fond claire */
    margin: 0; /* Supprime la marge par défaut */
}

header, ul, main, figure, figcaption, section, article, footer, h1, #témoignage-des-stagiaires ul, .contains, .contain, .loader {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Style pour l'en-tête (header) */
header {
    justify-content: center; /* Centrer les éléments verticalement */
    align-items: center; /* Centrer les éléments horizontalement */
}

header h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ffffff;  /* Couleur claire pour un fond sombre */
    background-color: #333333;  /* Fond sombre */
}

.fa-bars {
    visibility: hidden;
    cursor: pointer;
}


/* Style pour le titre principal (h1) */
h1, h2, h3, h4, .loader p {
    color: #333; /* Couleur claire pour le texte */
    font-family: "Bebas Neue", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}

/* Style spécifique pour les titres dans certaines sections */
#about h1, #qui-sommes-nous h1, #contenu-de-la-formation h1, #témoignage-des-stagiaires h1, #illustration-en-image h1,.contains h1 {
    box-shadow: none; /* Enlever l'ombre portée des titres */
}

/* Style de la liste de navigation (ul) */
ul {
    flex-direction: row; /* Aligner les éléments horizontalement */
    gap: 5px;
    padding: 0;
}

/* Style pour les éléments de la liste (li) */
li { 
    color: #333;
    list-style-type: none; /* Supprimer les puces de la liste */
    font-weight: 400; /* Poids de police normal */
    font-style: normal; /* Style de police normal */
    padding: 5px; /* Espacement autour de chaque élément */
    font-size: 25px; /* Taille de la police plus grande */
}

/* Style pour les liens (a) */
a {
    text-decoration: none; /* Supprimer la décoration de texte (souligné) */
    color: inherit; /* Hériter la couleur du parent */
}

nav li:hover {
    color: white;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* fonction dark */
#toogle {
    width: 50px;
    height: 30px;
    background-color: #333;
    border-radius: 15px;
    position: relative;
    cursor: pointer;
  }
  
  .button-dark {
    width: 50px;
    height: 30px;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .circle-dark {
    width: 22px;
    height: 22px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 4px;
    left: 4px;
    transition: 0.3s;
  }
  
  #toogle.active .circle-dark {
    transform: translateX(20px);
    background: #333;
  } 

  #toogle.active {
    background: white;   
  }

#ressource img.visible {
    width: 60%;
    background: #ffffff;
}

/* Style du contenu principal (main) */
main {
    align-items: center; /* Centrer les éléments horizontalement */
    margin: 10px; /* Espacement autour du contenu */
}

/* Style des paragraphes dans le main */
main p, article p{
    padding: 0 70px; /* Espacement gauche et droite plus grand */
    font-family: "Roboto Condensed", serif; /* Police spécifique pour les paragraphes */
    font-size: 20px;
    text-align: justify;
}

#presentation {
    opacity: 0; /* Caché au départ */
    transform: translateY(20px); /* Légèrement décalé vers le bas */
    transition: opacity 0.5s ease, transform 0.5s ease;
}

#presentation.visible {
    opacity: 1; /* Devient visible */
    transform: translateY(0); /* Revient à sa place */
}


/* Style des figures (images) */
figure {
    align-items: center; /* Centrer les éléments horizontalement */
}

/* Style des images dans les figures */
figure img {
    width: 30%; /* Limiter la largeur des images à 60% */
    object-fit: contain; /* Garder l'intégrité de l'image sans déformation */
    cursor: pointer;
}

/* Style des légendes d'images (figcaption) */
figcaption {
    align-items: center; /* Centrer le texte de la légende */
    padding-top: 20px; /* Espacement au-dessus de la légende */
    font-family:"Roboto Condensed", serif;
}

/* Style des sections principales */
section {    
    gap: 20px; /* Espacement entre les articles dans la section */
    margin: 30px; /* Espacement autour de chaque section */
    background-color:#dcdcdc; /* Couleur de fond des articles */
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3); /* Ombre portée pour les articles */
    border-radius: 10px ;
    align-items: center; /* Centrer les éléments horizontalement */ 
}

#about {
    opacity: 0; /* Caché au départ */
    transform: translateY(50px); /* Décalé vers le bas */
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

#about.visible {
    opacity: 1; /* Devient visible */
    transform: translateY(0); /* Revient à sa place */
}

#qui-sommes-nous ul {
   flex-direction: column;
}

.contain {
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    margin: 10px 0;
}

.contain img {
    width: 30%; 
    object-fit: contain;
}

.contain img:hover {
    cursor: pointer;
    border-bottom: solid 4px red;
    transform: scale(1.1); /* Légère augmentation de la taille au survol */
    transition: transform 0.3s ease, border-bottom 0.3s ease; /* Transition douce */
}

.carousel-container {
    display: flex;
    flex-direction: row;
    width: 90%;
    max-width: 600px;
    position: relative;
    overflow: hidden; 
    margin: auto;
}
    
.carousel-slide {
    display: flex;
    width: 100%;
    padding-bottom: 50px;
}
        
.carousel-slide img {   
    width: 100%; 
    height: 350px; 
    object-fit: cover;
}

.carousel-slide img:hover {
    transform: scale(1.1); /* Légère augmentation de la taille au survol */
    transition: transform 0.3s ease, border-bottom 0.3s ease; /* Transition douce */
}
     
.carousel-dots {
    text-align: center;    
    position: absolute;    
    bottom: 20px;   
    width: 100%;   
}
      
.dot {  
    cursor: pointer;   
    height: 15px;   
    width: 15px;   
    margin: 0 2px;    
    background-color: #bbb;   
    border-radius: 50%;   
    display: inline-block;    
    transition: background-color 0.6s ease;   
}
       
.active, .dot:hover {
    background-color: #717171;
}
      
.carousel-arrow {   
    position: absolute;   
    top: 50%;    
    transform: translateY(-50%);    
    font-size: 2em;    
    cursor: pointer;    
    background: rgba(0, 0, 0, 0.5);    
    color: white;    
    padding: 10px;   
    border: none;   
} 
    
.carousel-arrow-left {   
    left: 10px;   
}
      
.carousel-arrow-right {
    right: 10px;
}

#témoignage-des-stagiaires {
    padding-bottom: 20px;
}

/* Style pour la section Témoignages */
#témoignage-des-stagiaires ul { 
    gap: 0px; /* Pas d'espacement entre les éléments de la liste */
    padding: 5px; /* Espacement autour de la liste */  
}

/* Style des éléments de la liste dans la section Témoignages */
#témoignage-des-stagiaires li {
    box-shadow: none; /* Enlever l'ombre portée des éléments */
    font-family:"Roboto Condensed", serif ; /* Police de style classique pour les témoignages */
}

#témoignage-des-stagiaires audio {
    margin: 20px 0;
}

#témoignage-des-stagiaires iframe {
    border-radius: 30px;
    width: 70%;
    height: 330px;
}

.contains {
    margin-bottom: 80px;
   }

.contains img {
    width: 70%;
}

.contains {
    opacity: 0; /* Caché au départ */
    transform: translateY(350px); /* Décalé vers le bas */
    transition: opacity 1s ease-out, transform 1.6s ease-out;
}

.contains.visible {
    opacity: 1; /* Devient visible */
    transform: translateY(0); /* Revient à sa place */
}
  
  /* Style du pied de page (footer) */
footer {
    justify-content: center; /* Centrer les éléments horizontalement */
    align-items: start; /* Centrer les éléments verticalement */
    position: relative;
    background-color: #dcdcdc; /* Couleur de fond du pied de page */
    width: 100%; /* Prendre toute la largeur disponible */
    padding: 20px 0;
    margin: 0; /* Pousser le footer vers le bas */
    border-radius: 37px 37px 0px 0px;
  } 

footer p {
    margin: 10px;
}

/*loader*/
.loader {
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #639cbd; /* Fond du loader */
    z-index: 1000;
    opacity: 90%;
    visibility: visible;
    transition: opacity 0.5s ease, visibility 0.5s;
}

/* Animation du spinner */
.spinner {
    width: 70px;
    height: 70px;
    border: 10px solid #ddd;
    border-top: 10px solid #333;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

/* Classe pour cacher le loader */
.loader.hidden {
    opacity: 0;
    visibility: hidden;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


/* Media queries pour les écrans plus petits (moins de 768px) */
@media screen and (max-width:768px) {

    .fa-bars {
        visibility: visible;
        font-size: 30px; /* Taille de l'icône */
        color: #333; /* Couleur */
    }
    
    header {
        width: 100%;
        padding: 0 10px;
        gap: 10px;
        text-align: center;
        flex-direction: row;
        position: fixed;
        background: #639cbd;
        z-index: 1;
        top: 0;
        height: 80px;
    }

    header h1 {
        font-size: 13px;
    }

    nav {
        align-items: start;
    }

   nav ul {
    display: none;
    transform: translateY(-500%); /* Caché en haut */
    transition: transform 0.5s ease-in-out;
   }

   nav ul.visible {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding:0px;
    transform: translateY(0);
   }

   header.visible {
    display: flex;
    flex-direction: column; 
    background-color: #639cbd;
    opacity: 1;
    backdrop-filter: blur(10px);
    padding-top: 20px;
    height: 70%;
    width: 70%;
    margin: 0%;
    border-radius: 0 0 70% 0;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3); /* Ombre portée pour les articles */
    align-items: flex-start;
    justify-content: start;
   }

   h1, h2, h3, h4, .loader p {
    font-size: 18px;
}

figure img {
    width: 80%;
}

#ressource img.visible {
    width: 100%;
    background: #333;
}

main {
    position: relative;
    top: 70px;
}

   main p {
    padding: 0 20px;
    font-size: 15px;
   }

   section {
    margin: 20px 0px;
    text-align: center;
   }

   .carousel-container {

    width: 70%; /* Ajustez selon vos besoins pour les Ã©crans plus grands */
    max-width: 800px; /* Adaptez la taille maximale */
    
    }

   footer p {
    font-size: 15px;
   }

}
